.swiper-button-prev {
    background-image: url(/arrow-prev-small-svgrepo-com.svg) !important;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transform: translate(-40%, 0);
}

.swiper-button-next {
    background-image: url(/arrow-next-small-svgrepo-com.svg) !important;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transform: translate(40%, 0);
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev::after {
    display: none;
}